$green: #1D4D4E;
$yellow: #C79F4E;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tab:focus, .tab:active{
    outline: 2px solid $yellow;
}
.button {
    padding: 1rem 2rem;
    border-radius: 50px;
    background: $green;
    color: #fff;
    border: none;
    transition: box-shadow 400ms, transform 200ms;
}
.button:active {
    transform: scale(.98);
}

.button:focus, .button:active{
    box-shadow: 0 0 0 5px $yellow;
}
body {
    opacity: 1;
    animation: fadeIn 2s;
    line-height: 1.3;
    scroll-behavior: smooth;

    font-size: 15px;

    * {font-family: 'Poppins', sans-serif;outline: none;}
    a {text-decoration: none;color: inherit;}

    #nav {
        position: fixed;
        width: 100%;
        height: 15vh;
        padding: 2.5rem 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 50;
        transition: height 500ms;

        &.active {
            height: 10vh;
            padding: 1rem 5vw;
            background: #fff;
            #content {
                #logo {
                    display: block;
                    background: url('../img/picto.png') no-repeat 50% 50% / contain;
                    height: 50px;
                    width: 50px;
                    transform: rotate(-360deg);
                    opacity: 1;
                    animation: fadeIn 200ms;
                }
                p {
                    font-size: .8rem;
                    transition: font-size 200ms;
                    &:first-child {
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                }
            } 
        } 
        
        #content {
            display: flex;
            flex-direction: row;
            align-items: center;

            #logo {
                display: block;
                background: url('../img/mono.png') no-repeat 50% 50% / contain;
                height: 50px;
                width: 50px;
                transition: transform 400ms;
                animation: fadeIn 200ms;
            }
            p {
                margin: .1rem 0 .1rem 1rem;
                color: $green;
                width: 20rem;
                
                &:first-child {
                    font-weight: bold;
                    font-size: 2rem;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            li {
                position: relative;
                margin: 0 1.5rem;
                padding-bottom: 3px;
                color: $green;
                font-weight: bold;
                text-transform: uppercase;
    
                &::before {
                    content: '';
                    position: absolute;
                    background: $green;
                    width: 0;
                    height: 2px;
                    right: 0;
                    bottom: 2px;
                    transition: 200ms;
                }
    
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
    
                    }
                }
            }
        }
    }

    main {
        position: relative;
        width: 100%;
        height: 90vh;
        
        #circle {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 5;
        }
        #container {
            position: absolute;
            top: 50%;
            left: 45%;
            width: 35%;
            transform: translate(0,-50%);

            
            > * {
                margin: 1rem 0;
            }

            h1 {
                font-weight: bold;
                font-size: 1.5rem;
                color: #222;
            }
            p {
                color: #555;
                font-size: 1.25rem;
            }
        }
    }

    #avis {
        position: relative;
        width: 100%;
        height: 50vh;
        background: $green;
        padding: 10vh 5vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            div {
                img {
                    width: 7vw;
                    height: 7vw;
                    border-radius: 50%;
                }
                p {
                    text-align: right;
                    font-size: 1rem;
                    color: #fff;
                    
                    
                    &:first-of-type {
                        margin-top: .25rem;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        margin-top: .5rem;
                        font-style: italic;
                    }
                }
            }
            
            #text {
                margin-left: 1rem;
                width: 40%;
                color: #fff;
                font-size: 1.3rem;  
            }
        }
       
        #progress_bar {
            position: absolute;
            bottom: 2.5rem;
            width: 60%;
            height: 2px;
            margin: 0 20%;

            @keyframes progress {
               from {
                   width: 0%;
               } 
               to{
                   width: 100%;
               }
            }

            #bar {
                width: 0;
                height: 100%;
                background: $yellow;
                animation: progress 10s ease-in-out infinite;
            }
        }
    }   

    #carte {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vh 5vw;
        
        
        #container {
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            article {
                position: relative;
                width: 30%;
                min-width: 350px;
                margin: .5rem;
                overflow: hidden;
                transition: 200ms;
                border-radius: 5px;
                padding-bottom: 2rem;
                box-shadow: 0 0 2px #000;

                img {
                    width: 100%;
                    height: 200px;
                }
                h1, h2 {
                    margin-left: 2rem;
                    transition: 200ms;
                }
                h1 {
                    color: #222;
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin-top: 4rem;
                }
                h2 {
                    color: #333;
                    font-style: italic;
                    font-size: 1rem;
                    margin-top: 1rem;
                }
                a {
                    position: absolute;
                    bottom: -1rem;
                    transition: 200ms;
                    margin: 0 2rem;
                    color: $green;
                    text-transform: uppercase;
                }

                &:hover {
                    transform: translateY(-10px);

                    h1, h2 {
                        transform: translateY(-2rem);
                    }

                    a {
                        bottom: 2rem;
                    }
                }
            }
        }
    }

    footer {
        background: #1d4d4e;
        padding: 5vh 5vw;
        color: #fff;

        #container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            nav {
                display: flex;
                flex-direction: column;
                width: 20%;

                a {
                    margin: .5rem 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    transition: 200ms;
                    &:hover {
                        color: $yellow
                    }
                }
            }
            #text {
                width: 40%;
            }
            div {
                width: 25%;
                height: 5rem;
                padding-left: 2rem;
                border-left: 2px solid $yellow;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p{
                    margin: .2rem;
                }
            }
        }

        #baseline {
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            #logo {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
    
                img {
                    height: 60%;
                    width: auto;
                }
                p {
                    margin: 0 1rem;
                }  
            }

            ul {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                li {
                    margin: 0 2rem;

                    a {
                        display: block;
                        text-align: center;//delete img
                        width: 20px;
                        height: 20px;
                        transition: 200ms;
                        
                        &:hover {
                            color: $yellow
                        }
                    }
                }
            }
        }
    }
}